body{
	background-color: #F1F3F4;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arvo', serif;
}

/**Boot CSS**/
.left{
	float: left;
}

.clear{
	clear: both;
}

/**Estilizacao do site**/
.center{
	width: 70%;
	height: auto;
	background-color: white;
	padding: 5% 2%;
	margin: 0 auto;	
}

h1, h3{
	text-align: center;
}

.menu{
	width: 90%;
	margin: 0 auto;
}

.menu ul{	
	display: flex;
	justify-content: space-between;
}

.menu ul li{
	font-weight: 400;
	margin-top: 40px;
	display: block;
}

.menu ul li a{
	font-size: 25px;
}

.menu ul li a:hover {
	font-weight: bolder;
	transition: 0.5s ease;
}

a{
	color: black;
}

#foto{
	width: 220px;
	height: 220px;
	margin-top: 50px;
	border-style: solid;
	border-color: #000;
}

.conteudo-principal{
	margin-top: 6%;
}

h2{
	margin-top: 6%;
}

.formatacao-texto{
	font-size: 20px;
	margin-left: 3%;
	margin-top: 3%;
}

p{
	font-size: 20px;
	margin-top: 3%;
	margin-left: 0; 
	text-align: justify;
}

dl{
	width: 80%;
	font-size: 20px;
	margin-top: 3%;
	margin-left: 0;
}

dd{
	margin-inline-start: 6%;
}

table{
	width: 85%;
	height: auto;
	border-collapse: collapse;
	font-size: 20px;
	margin-left: 7.5%;
	margin-top: 3%;	
}

th{
	background: lightblue;
	text-align: left;
}

td{
	width: 65%;
}

footer{
	font-size: 18px;
	margin-top: 6%;
	text-align: center;
}

/*Configuracao das Queries*/
@media only screen  and (max-width: 1200px) {
	.menu ul li a{
		font-size: 22px;
	}
}

@media only screen  and (max-width: 1100px) {
	.menu ul li a{
		font-size: 20px;
	}
}

@media only screen  and (max-width: 1000px) {
	.menu ul li a{
		font-size: 18px;
	}
}

@media only screen and (max-width: 850px) {
	.menu{
		margin-top: 20px;
	}

    .menu ul{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.menu ul li{
		margin: 0;
		padding: 0;
		padding-top: 5px;
	}
	
	.menu ul li a{
		font-size: 20px;
	}

	#foto{
		margin-left: 30%;
	}
}

@media only screen  and (max-width: 750px) {
	#foto{
		width: 170px;
		height: 170px;
	}
}

@media only screen  and (max-width: 600px) {
	#foto{
		margin-left: 28%;
	}
}

@media only screen  and (max-width: 500px) {
	#foto{
		width: 150px;
		height: 150px;
		margin-left: 25%;
	}
}

@media only screen  and (max-width: 400px) {
	#foto{
		margin-left: 18%;
	}
}


	